@model LojaDeGames.Models.Funcionario
@{
    ViewBag.Title = "CadFuncionario";
}

<h2>Dados Cadastrados com sucesso!</h2>
<br />
<p>@Html.ActionLink("Voltar", "Funcionario")</p>
<p>@Html.ActionLink("Visualizar Funcionário", "ListarFuncionario")</p>

