@model LojaDeGames.Models.Jogo
@{
    ViewBag.Title = "CadJogo";
}

<h2>CadJogo</h2>
<h2>Dados Cadastrados com sucesso!</h2>
<br />
<p>@Html.ActionLink("Voltar", "Jogo")</p>
<p>@Html.ActionLink("Visualizar Jogos", "ListarJogo")</p>


